#grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid grey;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 200px;
  height: 30px;
  display: block;
  margin: 10px 0 10px 0;
}

#range-slider {
  width: 500px;
  margin: 10px 0 10px 0;
}

#slider-value {
  margin-top: 10px;
  font-weight: bold;
}

.slider-label {
  display: block;
}
